body{
    font-family: sans-serif;
}



p{
    background-color: grey;
    margin-top: 0;
    padding: 20px 36px 20px 20px;
    text-align: justify;

}




h1{
    background-color: aquamarine;
    /* padidng-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px; */
    padding: 20px;
}





h2{
    background-color: yellow;
    width: 200px;
    padidng-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px; 
    /* padding: 20px; */
    
}


/* 
padidng-top
padding-left
padding-bottom
padding-right 
*/