body{
    background-color: rgb(175, 171, 177);
}

.name{
    background-color: rgb(203, 139, 241);
    align-items: center;
    text-align: center;
}

.status{
    text-align: center;
}

.goals {
    background-color: grey;
    border-bottom: 3px solid black;
}

.experience{
    background-color: grey;
    border-bottom: 3px solid black;
}

.companyName{
    color: blue;
}

.college {
    background-color: grey;
    border-bottom: 3px solid black;
}

.curses{
    background-color: grey;
    border-bottom: 3px solid black;
}

.div{
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
      }

      a {
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    .menu {
        text-align: center;
    }
    
    .menu li {
        list-style-type: none;
        display: inline-block;
        padding: 0;
    }
    
    .menu a {
        background-color: #c1bebe;
        padding: 16px;
        display: block;
    }
    
    .menu a:hover {
        background-color: #333;
        color: #fff;
        text-decoration: none;
    }