
.img-logo{
    width: 400px;
}

body{
    background-image: url(imagens/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: right bottom;



    font-size: 22px;
    font-family: sans-serif;
    width: 700px;
    margin: auto;
}

.img-html{
    float: left;

}

.img-css{
    float: right;
}


